# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env.bak/
.venv/

# =========================
# Flask
# =========================
instance/
*.log

# =========================
# Jupyter / IDE
# =========================
.ipynb_checkpoints/
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Model / temporary
# =========================
*.pkl
*.joblib

# =========================
# Optional
# =========================
*.sqlite3
